body {
	font-family: "Courier New", monospace;
}

.gametitle {
	border-bottom: 1px dotted;
}

.noconcepts {
	display: inherit;
}

.concepts {
	display: none;
}

.genre a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.genre a:hover {
	cursor: help;
}

.concept a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.concept a:hover {
	cursor: help;
}