body {
	font-family: "Courier New", monospace;
}

.supplicant {
	font-family: serif;
	font-style: italic;
}

a.supplicant {
	color: #000;
	text-decoration: none;
}

.gametitle {
	border-bottom: 1px dotted;
}

.noconcepts {
	display: inherit;
}

.concepts {
	display: none;
}

.stdlink {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.permalink {
	display: none;
}